.admin-header {
  background-color: #2222;
  padding: 2rem;
}

#logged-in-message {
  display: none;
}

label {
  display: block;
  margin: 1.5rem 0;
}

button {
  margin-right: 20px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #2a2a2a;
  color: white;
  outline: none;
  border: none;
}

input[type=submit] {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #2a2a2a;
  color: white;
  outline: none;
  border: none;
}

.react-quill.ql-editor {
  min-height: 18rem;
}

button.cancel-button {
  position: relative;
  left: 90px;
  top: -30px;
}

.admin-ul {
  list-style: none;
  padding-left: 0;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.admin-ul li {
  display: inline;
  font-weight: bold;
  font-size: 30px;
  padding: 1rem;
  cursor: pointer;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-right: 1rem;
}

.admin-ul li:nth-child(2) {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.admin-ul li:hover {
  background-color: #2222;
}

.login-wrapper{
  position: relative;
  z-index: 100;
}

.absolute-center {
    width: 50%;
    height: 80%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.login-form {
  background-color: #2222;
  margin: 0 auto;
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px #999;
}

.login-submit {
  position: relative;
  width: 60%;
  padding: 10px 10px !important;
  margin: 1.5rem 0 1rem 0;
}

.login-input {
 border-radius: 0;
 padding-left: .5rem;
 border: 1px solid #cbcbcb;
 height: 2.5rem;
 width: 60%;
 margin: 1rem 0 0 0;
 outline: none;
}

#one {
  width: 100%;
  min-height: 500px;
  display: block;
  position: relative;
  text-align: center;
}

.tab {
  min-height: 700px;
  display: none;
}

li.login {
  display: none;
}

.input-header {
  border: 1px solid #ccc;
  height: 2rem;
  padding: 1.3rem 0 1.3rem .8rem;
  width: 50%;
  outline: none;
  margin-top: .5rem;
  font-size: 18px;
}

.input-url {
  border: 1px solid #ccc;
  height: 2rem;
  padding: 1.3rem 0 1.3rem .8rem;
  width: 30%;
  outline: none;
  margin-top: .5rem;
  font-size: 18px;
}

.admin-bottom-padding {
  padding-bottom: 6rem;
}

h2.admin-manage {
  margin: 3rem 0;
}
