label {
  display: block;
}

button {
  margin-right: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
  padding: 5px 10px;
}

.react-quill.ql-editor {
  min-height: 18rem;
}

button.cancel-button {
  position: relative;
  left: 90px;
  top: -30px;
}
