#affordable-header-image {
  position: relative;
  max-width: 2000px;
  padding-top: 30%; /* 600 / 2000 = .3*/
  margin: 0 auto;
  background-image: url('https://dummyimage.com/2000x550/ababab/ffffff.jpg&text=2000+x+550');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

p#affordable-header-image-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3.5vw;
  line-height: normal;
}

.affordable-move-occurring {
  position: relative;
  left: 5%;
}

.affordable-heading {
  font-size: 25px;
  font-weight: 500;
}
