@import url("https://fonts.googleapis.com/css?family=Ubuntu:500,400,300");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100% !important;
}

.clearfix::after {
    clear: both;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

img {
	 height: auto;
	 max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 72rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body p {
  font-size: 18px;
  line-height: 1.8rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2a2a2a;
  background-color: #f8f8f8;
}

/* ------ internal pages flexbox css ------- */

.products-flexbox-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.products-photo-flexbox {
  width: 38%;
  padding: 8.5rem 2rem 2rem 2rem;
}

#desktop-body-image {
  display: block;
}

#mobile-body-image {
  display: none;
}

.products-flexbox {
  width: 58%;
  padding: 2rem;
}

.products-text-header {
  font-size: 40px;
  margin-top: 30px;
  font-weight: 600;
}

.products-text-header-two {
  font-size: 40px;
  margin-top: 0px;
  font-weight: 600;
}

.products-photo-flexbox-two {
  width: 38%;
  padding: 6.5rem 2rem 2rem 2rem;
}

.products-photo-flexbox-two-desktop {
  display: none;
}

.products-flexbox-container.bottom-margin {
  margin-bottom: 4rem;
}

/* mobile navigation */

.mobile-nav {
  position: fixed;
  display: block;
  z-index: 1;
  min-height: 100%;
  top: 0;
  right: -225px;
  width: 225px;
  background-color: #2a2a2a;
}

.mobile-nav .mobile-nav-link {
  display: block;
  line-height: 3rem;
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 1px solid #666;
  padding-top: 10px;
  padding-left: 20px;
}

.mobile-nav .mobile-nav-link:hover {
    background-color: #666;
}

.mobile-nav-link.mobile-indent {
  font-size: 16px;
  padding-left: 40px;
}

.open-mobile-nav {
  overflow-x: hidden;
  position: relative;
  -webkit-transform: translateX(-225px);
  -moz-transform: translateX(-225px);
  transform: translateX(-225px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.close-mobile-nav {
  overflow-x: hidden;
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

@media (min-width: 670px) and (max-width: 735px) {

  .products-text-header {
    font-size: 35px;
  }

  .products-text-header-two {
    font-size: 35px;
  }

}

@media (min-width: 320px) and (max-width: 870px) {

  .products-flexbox-container {
    display: block;
  }

  .products-flexbox {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
  }

  .products-photo-flexbox {
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
  }

  .products-photo-flexbox-two-desktop {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    display: block;
  }

  .products-photo-flexbox-two {
    display: none;
  }

  #desktop-body-image {
    display: none;
  }

  #mobile-body-image {
    display: block;
  }

}

@media (min-width: 320px) and (max-width: 669px) {

  .products-text-header {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .products-text-header-two {
    margin-top: 0px;
    margin-bottom: 25px;
  }

}

@media (min-width: 400px) and (max-width: 669px) {

  .products-photo-flexbox {
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
  }

  .products-photo-flexbox-two-desktop {
    width: 100%;
    padding: 0.5rem 2rem 0rem 2rem;
  }

}

@media (min-width: 320px) and (max-width: 399px) {

  .products-photo-flexbox {
    width: 100%;
    padding: 1rem 0rem 0rem 0rem;
  }

  .products-photo-flexbox-two-desktop {
    width: 100%;
    padding: 1rem 0rem 0rem 0rem;
  }

}

@media (min-width: 413px) and (max-width: 650px) {

  .products-text-header {
    font-size: 35px;
  }

  .products-text-header-two {
    font-size: 35px;
  }

}

@media (min-width: 365px) and (max-width: 412px) {

  .products-text-header {
    font-size: 30px;
  }

  .products-text-header-two {
    font-size: 30px;
  }

}

@media (min-width: 320px) and (max-width: 364px) {

  .products-text-header {
    font-size: 25px;
  }

  .products-text-header-two {
    font-size: 25px;
  }

}
