@import url("https://fonts.googleapis.com/css?family=Ubuntu:500,400,300");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100% !important;
}

.clearfix::after {
    clear: both;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

img {
	 height: auto;
	 max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 72rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body p {
  font-size: 18px;
  line-height: 1.5rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #2a2a2a;
  background-color: #f8f8f8;
}

/* ------ internal pages flexbox css ------- */

.products-flexbox-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.products-photo-flexbox {
  width: 38%;
  padding: 8.5rem 2rem 2rem 2rem;
}

.products-flexbox {
  width: 58%;
  padding: 2rem;
}

.products-text-header {
  font-size: 40px;
  margin-top: 30px;
}

.products-text-header-two {
  font-size: 40px;
  margin-top: 0px;
}

.products-photo-flexbox-two {
  width: 38%;
  padding: 6.5rem 2rem 2rem 2rem;
}

.products-flexbox-container.bottom-margin {
  margin-bottom: 4rem;
}
