.body-header {
  text-align: center;
  font-size: 40px;
  margin: 60px 0 60px 0;
  font-weight: 600;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexbox {
  width: 45%;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px #999;
}

.body-product-image{
  max-height: 150px;
}

.home-flex-title {
  color: #2a2a2a;
  margin-top: 60px;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}

.home-flex-info {
  color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
}

.home-flex-learn {
  color: #2a2a2a;
  margin: 0 auto;
  width: 30%;
  font-weight: 600;
}

.home-flex-learn:hover {
  color: #8bcf00;
}

#natural-wrapper {
  text-align: center;
  max-width: 2000px;
  background-color: #8eb93a;
  padding: 2rem 0 4rem 0;
  margin: 4rem 0;
}

p.natural-header {
  text-align: center;
  font-size: 40px;
  margin: 30px 0 2.5rem 0;
  color: #fff;
  font-weight: 600;
}

p.natuarl-p {
  margin: 0 auto;
  width: 575px;
  color: #fff;
  margin-bottom: 1.5rem;
}

.learn-more-a {
  font-size: 18px;
  width: 30%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
}

.learn-more-a:hover {
  color: #2a2a2a;
}

#rectange-flexbox-container {
  position: relative;
  margin: 0 auto;
  max-width: 2000px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 4rem;
}

.flex-rect-one {
  display: table;
  position: relative;
  width: 25%;
  padding-top: 22.6%; /* 450 / 2000 = .225 */
  background-image: url('/images/500/1000_900_healthy.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.flex-rect-two {
  display: table;
  position: relative;
  width: 25%;
  padding-top: 22.6%; /* 450 / 2000 = .225 */
  background-image: url('/images/500/1000_900_money.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}


.flex-rect-three {
  display: table;
  position: relative;
  width: 25%;
  padding-top: 22.6%; /* 450 / 2000 = .225 */
  background-image: url('/images/500/1000_900_icecream.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.flex-rect-four {
  display: table;
  position: relative;
  width: 25%;
  padding-top: 22.6%; /* 450 / 2000 = .225 */
  background-image: url('/images/500/1000_900_cookies.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

p.rectangle-text {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 4vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 0px 5px #2a2a2a;
}

.products-photo-flexbox-home {
  display: none;
  margin-top: 1rem;
}

#mobile-body-image-home {
  display: none;
}

@media (min-width: 400px) and (max-width: 870px) {

  .products-photo-flexbox-home {
    display: block;
  }

  #mobile-body-image-home {
    display: block;
  }

}

@media (min-width: 320px) and (max-width: 885px) {

  .home-flex-learn {
    width: 40%;
  }

}

@media (min-width: 400px) and (max-width: 845px) {

  .flexbox-container {
    display: block;
    max-width: 845px;
    padding: 0 2rem;
  }

  .flexbox {
    width: 100%;
    margin-bottom: 60px;
  }

  .flexbox:nth-child(2) {
    margin-bottom: 0px;
  }

}

@media (min-width: 400px) and (max-width: 845px) {

  #rectange-flexbox-container {
    flex-wrap: wrap;
  }

  .flex-rect-one, .flex-rect-two, .flex-rect-three, .flex-rect-four {
    width: 50%;
    padding-top: 16.8%; /* 140 / 845 = 0.16568047337278 */

  }

  .flex-rect-one {
    background-image: url('/images/500/846_280_healthy.jpg');
    margin-bottom: -5px;
  }

  .flex-rect-two {
    background-image: url('/images/500/846_280_money.jpg');
    margin-bottom: -5px;
  }

  .flex-rect-three {
    background-image: url('/images/500/846_280_icecream.jpg');
    margin-bottom: -5px;
  }

  .flex-rect-four {
    background-image: url('/images/500/846_280_cookies.jpg');
    margin-bottom: -5px;
  }

  p.rectangle-text {
    top: 16%;
    font-size: 4vw;
  }

}

@media (min-width: 320px) and (max-width: 399px) {

  #rectange-flexbox-container {
    display: block;
  }

  .flex-rect-one, .flex-rect-two, .flex-rect-three, .flex-rect-four {
      width: 100%;
      padding-top: 35.08771929824%; /* 140 / 399 = 0.35087719298246 */

    }

  .flex-rect-one {
    background-image: url('/images/500/846_280_healthy.jpg');
    margin-bottom: -10px;
  }

  .flex-rect-two {
    background-image: url('/images/500/846_280_money.jpg');
    margin-bottom: -10px;
  }

  .flex-rect-three {
    background-image: url('/images/500/846_280_icecream.jpg');
    margin-bottom: -10px;
  }

  .flex-rect-four {
    background-image: url('/images/500/846_280_cookies.jpg');
    margin-bottom: -10px;
  }

  p.rectangle-text {
    top: 16%;
    font-size: 8vw;
  }

  .home-flex-title {
    font-size: 25px;
  }

  .products-photo-flexbox-home {
    display: block;
  }

  #mobile-body-image-home {
    display: block;
  }

  img.body-product-image{
    display: none;
  }

  .home-flex-title {
    margin-top: 0;
  }

  .flexbox {
    box-shadow: none;
  }

  p.natural-header {
    font-size: 25px;
    margin: 0 0 20px 0;
  }

  .flexbox-container {
    display: block;
    max-width: 845px;
    padding: 0;
  }

  .flexbox {
    width: 100%;
    margin-bottom: 60px;
  }

  .flexbox:nth-child(2) {
    margin-bottom: 0px;
  }

  #natural-wrapper {
    padding-bottom: 2rem;
  }

}

@media (min-width: 320px) and (max-width: 650px) {

  #natural-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  p.natuarl-p {
    width: 100%;
  }

}

@media (min-width: 400px) and (max-width: 445px) {
  p.natural-header {
    font-size: 30px;
  }
}

@media (min-width: 365px) and (max-width: 445px) {

  .body-header {
    font-size: 30px;
    margin: 40px 0 40px 0;
  }

}

@media (min-width: 320px) and (max-width: 364px) {

  .body-header {
    font-size: 25px;
    margin: 30px 0 30px 0;
  }

}
