h2.news-header {
  max-width: 45rem;
  line-height: 2rem;
}

p.news-body-text-container {
  margin-bottom: 10px;
  max-width: 45rem;
  display: inline;
}


.news-body-text-container p {
  display: inline;
}

.news-body-text-container a {
  text-decoration: underline;
  color: #2a2a2a;
}

.news-anchor:hover {
  color: #8bcf00;
}

.news-anchor {
  font-size: 18px;
  font-weight: 600;
}

.news-date-posted {
  position: relative;
  top: -10px;
  margin-bottom: 0px;
}

#news-container-top {
  margin-bottom: 2rem;
}

i.fa-angle-right {
  font-size: 18px;
  font-weight: 600;
}

.job-body-text-container p {
  margin: 0;
}

.job-body-text-container a {
  text-decoration: underline;
  color: #2a2a2a;
}

.apply-now-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}

.apply-now-wrapper a .apply-button {
  width: 30%;
  padding: 2rem;
  font-size: 40px;
  color: #fff;
  background-color: #2a2a2a;
  box-shadow: 0px 5px 15px 0px #999;
}

.apply-now-wrapper a .apply-button:hover {
  color: #2a2a2a;
  background-color: #8bcf00;
  box-shadow: 0px 5px 15px 0px #999;
}
